# Ignore build outputs and local development artifacts
**/bin
**/obj
**/artifacts
**/build
**/node_modules
**/frontend/.next
**/frontend/node_modules
**/tests
**/e2e
**/charts
**/actions-runner
**/.git
**/.github
**/.vscode
**/.cache
**/*~
**/*.log
**/.env*
**/tmp
**/temp
**/Dockerfile*
